div#app { 
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkmagenta;
}

p {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: darkmagenta;    
}

nav#navMenu {
    text-align: left;
}

p.regular {
    color:gray;
    font-size: 20px;
}
p.tiny {
    color:gray;
    font-weight: bold;
    font-size: 20px;
}

circle {
    fill: lightgray;
    stroke: #322F41;
    stroke-width: 5;
}
text {
    font-family: Arial, Helvetica, sans-serif;
    fill: darkmagenta;
    font-size: 30px;
}

.container {
    display: flex;
}
.left {
    flex: -5 0 65%;
}
.right {
    flex: 1;
    align-items: left;
}


select {

    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

button {
    border-radius: 5px;
    background-color: purple; /* Green */
    border: thin;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}