body * {
    color: #5B34B6;
    
}

.inputLabel {
    font-size: 24px !important;
}

/*TODO: MAKE THIS STYLING UNECESSARY WITH VUE-MATERIAL CLASS STYLING IN MAIN HTML*/
div.md-menu-content.md-select-content.md-theme-default.md-size-0.md-direction-bottom-right.md-active {
    top: 175px !important;
}

*:focus {
    /*box-shadow: 0px 1px 0px #5cb3fd;*/
    -webkit-box-shadow: 0px 0px 29px 3px rgba(92,179,253,0.63);
    -moz-box-shadow: 0px 0px 29px 3px rgba(92,179,253,0.63);
    box-shadow: 0px 0px 29px 3px rgba(92,179,253,0.63);
    /*background-color: yellow !important;*/
}

#comfortable {
    border-style: none none solid none !important;
}

.customizedSelect {
    border-style: none none solid none;
    font-size: 22px;
}

.pageTwo {
    font-size: 24px;
}

.opt {
    font-size: 24px !important;
    color: #5B34B6 !important;
}

.pageTwo.tiny {    
    color: #3B4A63;	
    font-size: 23px !important;
    font-weight: 600;	
    line-height: 35px;
    text-align: center;
}

.NOT_IMPLEMENTED {
    background-color: yellow;
}

 /*.spec:after {
    position: absolute;
    content: '';
    background: red;
    display: block;
    width: 40%;
    height: 10px;
    -webkit-transform: rotate(15deg) !important;
    transform: rotate(15deg) !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.spec:before {
    position: absolute;
    content: '';
    background: red;
    display: block;
    width: 40%;
    height: 10px;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}*/




/* For extra small and medium sized devices */
@media (max-width: 767px) { 

    .customNav {
        max-height: 25%;
    }

    div img {
        width: 45px !important;
        height: 45px !important;
    }

     .pageOne {
        font-size: 22px !important;
        margin-left: 0%;
        font-size: 22px;
    }

    .input-group {
        margin-bottom: 20px;
    }

    button#next {
        margin-left: 50% !important;
        width: 40%;
        bottom: 5px;
        position: fixed;
        z-index:1000; 
    }
}

/* For medium devices and larger */
@media (min-width: 767px) { 
    
    #ageField {
        font-size: 24px;
        padding-right: 0px;
        margin-right: 0px;
    }

    .pageOne {
        margin: auto;
    }

     button#next {
        margin-left: 40%;
        width: 20%;
        bottom: 5%; 
        position: fixed;
        z-index:1000; 
        font-size: 30px;
    }

    #usingPhone {
        margin-top: 10px;
    }
}

.router {
    margin-top: 170px;
}

.customNav {
    position: fixed;
    width: 100%;
    background-color: #FFFFFF !important;
    box-shadow: 0 2px 3px 0 rgba(141,141,141,0.5);
}

.footer {
    display: none;
}

.bar {
    padding: 0px;
}

.check {
    background-color: #FFFFFF;
    box-shadow: 0 0 12px 0 #D5D5D5;
}

nav img {
    border-radius: 50%;
    background-color: rgba(65,73,90,0.1); 
    margin-left: 2px;
    margin-right: 2px;
    width: 55px;
    height: 55px;
}

nav#app {
    position: absolute;
}

div.overview { 
    font-family: "Open Sans",open-sans,sans-serif;
}

p {
    display: inline;
    font-family: "Open Sans",open-sans,sans-serif;
    font-size: 24px;
}

nav#navMenu {
    text-align: left;
}
label {
    display: inline;
}
p.regular {
    color:#3B4A63;
    font-size: 20px;
}
p.tiny {
    color:#3B4A63;
    font-weight: bold;
}

circle {
    fill: lightgray;
    stroke-width: 5;
    box-shadow: 10px 10px 10px #888888;

}
text {
    font-family: "Open Sans",open-sans,sans-serif;
    fill: #31117D;
    font-size: 30px;
}


.container {
    display: flex;
}


option {
    font-size: 20px;
    font-family: "Open Sans",open-sans,sans-serif;
}

.mdc-button{
    --mdc-theme-primary: #31117D !important;
}

/*select {
    border-style: none none solid none;
    font-size: 20px;
}*/

button {
    border-radius: 5px;
    background-color: #31117D; 
    border: thin;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
}