

hr {
    border: solid 0.3px;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #888888;
    border-color: #dee4ed;


}

nav#app {
    position: absolute;
}

h2 {
  font-size: 14px;
  color: lightgray;
}
div.park { 
    /*text-align: center;*/
    font-family: "Open Sans",open-sans,sans-serif;
    color: #31117D;
}

p {
    margin-left: 25%;
    display: inline;
    font-family: "Open Sans",open-sans,sans-serif;
    font-size: 30px;
    color: #31117D;    
}

nav#navMenu {
    text-align: left;
}

p.regular {
    color:gray;
    font-size: 20px;
}
p.tiny {
    margin-left: 20%;
    color:gray;
    font-weight: bold;
    font-size: 20px;
}

circle {
    fill: lightgray;
    /*stroke: #322F41;*/
    stroke-width: 5;
    box-shadow: 10px 10px 10px #888888;

}
text {
    font-family: "Open Sans",open-sans,sans-serif;
    fill: #31117D;
    font-size: 30px;
}

.container {
    display: flex;
}
.left {
    flex: -5 0 65%;
}
.right {
    flex: 1;
    align-items: left;
}

option {
    font-size: 30px;
    font-family: "Open Sans",open-sans,sans-serif;
}

select {
    width: 55%;
    margin-left: 24%;
    padding: 16px 20px;
    border-style: none none solid none;
    border-radius: 4px;
    font-size: 20px;
    color: #31117D;    
    font-family: "Open Sans",open-sans,sans-serif;

}

button {
    margin-left: 50%;
    border-radius: 5px;
    background-color: #31117D; /* Green */
    border: thin;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}