html * {
    color: #5B34B6;
}

.customizedSelect option {
    font-size: 40px !important;
}

.inputLabel {
    font-size: 24px !important;
}

#comfortable {
    margin-left: 0px;
}
.feelLabel {
    font-size: 24px;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 1px;
}

.customizedSelect {
    border-style: none none solid none;
}
/* For extra small and medium sized devices */
@media (max-width: 767px) { 
    .customizedSelect {
        width: 76%;
        margin-left: 12%; 
    }

    .pageTwo.tiny {
        color: grey;
        font-weight: bold;
    }

     .pageOne {
        font-size: 22px !important;
        margin-left: 0%;
        font-size: 22px;
    }

    .input-group {
        margin-bottom: 20px;
    }

    button#next {
        margin-left: 50% !important;
        width: 40%;
        bottom: 5px;
        position: fixed;
        z-index:1000; 
    }
}

/* For medium devices and larger */
@media (min-width: 767px) { 
    
    #ageField {
        font-size: 24px;
        padding-right: 0px;
        margin-right: 0px;
    }

    .pageOne {
        font-size: 30px !important;    
        font-size: 22px;
        margin: auto;
    }

    .pageTwo {
        font-size: 30px !important;
        font-size: 22px;
        text-align: center;
    }

    .pageTwo.tiny {
        color: grey;
        font-weight: bold;
        font-size: 20px !important;
    }

    .customizedSelect {
        width: 55%;
        margin-left: 20%;
    }

     button#next {
        margin-left: 40%;
        width: 20%;
        bottom: 0%; 
        position: fixed;
        z-index:1000; 
    }
}

.router {
    margin-top: 150px;
}

.customNav {
    border-bottom-style: solid;
    border-bottom-color: grey;
    position: fixed;
    margin-bottom: 80px;
    width: 100%;
    background-color: #FFFFFF !important;
    box-shadow: 0 2px 3px 0 rgba(141,141,141,0.5);
}

.footer {
    display: none;
}

.bar {
    padding: 0px;
}

hr {
    border: solid 0.3px;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #888888;
    border-color: #dee4ed;
}

.check {
    background-color: yellow;
    background-image: url("./images/ic_check_circle_white_48px.svg");
}

div .flex-last p {
    margin-left: 0px !important;
}


nav img {
    border-radius: 50%;
    background-color: rgba(65,73,90,0.1); 
    margin-left: 2px;
    margin-right: 2px;
    width: 55px;
    height: 55px;
}

nav#app {
    position: absolute;
}

h2 {
  font-size: 14px;
  color: lightgray;
}
div.overview { 
    font-family: "Open Sans",open-sans,sans-serif;

}

p {
    margin-left: 25%;
    display: inline;
    font-family: "Open Sans",open-sans,sans-serif;
    font-size: 22px;
}

nav#navMenu {
    text-align: left;
}
label {
    display: inline;
}
p.regular {
    color:gray;
    font-size: 20px;
}
p.tiny {
    color:gray;
    font-weight: bold;
}

circle {
    fill: lightgray;
    stroke-width: 5;
    box-shadow: 10px 10px 10px #888888;

}
text {
    font-family: "Open Sans",open-sans,sans-serif;
    fill: #31117D;
    font-size: 30px;
}

.container {
    display: flex;
}

option {
    font-size: 30px;
    font-family: "Open Sans",open-sans,sans-serif;
}

.page-overview.text-left {
    font-family: inherit;
    color: inherit;
    font-size: 24px;
}

/*select {
    width: 55%;
    margin-left: 24%;
    padding: 16px 25px;
    border-style: none none solid none;
    border-radius: 4px;
    font-size: 20px;    
    font-family: "Open Sans",open-sans,sans-serif;
}*/

select {
    border-style: none none solid none;
}

button {
    border-radius: 5px;
    background-color: #31117D; 
    border: thin;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}