

@media (max-width: 767px) { 
    .customizedSelect {
        width: 76%;
        margin-left: 12%; 
    }
     .pageOne {
        font-size: 22px !important;
        color: #31117D;
        margin-left: 0%;
        font-size: 22px;
    }


    button {
        margin-left: 20% !important;
        width: 50%;
        bottom: 10px;
        position: fixed;
    }
}

@media (min-width: 767px) { 
    
    .pageOne {
        font-size: 30px !important;
        color: #31117D;
        margin-left: 30%;
        font-size: 22px;
    }

    .customizedSelect {
        width: 26%;
        margin-left: 30%;
    }

     button {
        margin-left: 40%;
        width: 20%;
        bottom: 35%; 
        position: fixed;
    }
}

.router {
    margin-top: 150px;
}

.customNav {
    background-color: white !important;
}

.footer {
    display: none;
}

.bar {
    padding: 0px;
}

hr {
    border: solid 0.3px;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #888888;
    border-color: #dee4ed;
}

.navbar {
    background-color: inherit;
    border-bottom-style: solid;
    border-bottom-color: grey;
    position: fixed;
    margin-bottom: 80px;
    width: 100%;
}


.check {
    background-color: #E0F2E1;    
}


img {
    border-radius: 50%;
    background-color: gray;
    margin-left: 2px;
    margin-right: 2px;
    width: 55px;
    height: 55px;
}

nav#app {
    position: absolute;
}

h2 {
  font-size: 14px;
  color: lightgray;
}
div.overview { 
    /*text-align: center;*/
    font-family: "Open Sans",open-sans,sans-serif;
    color: #31117D;
}



p {
    margin-left: 25%;
    display: inline;
    font-family: "Open Sans",open-sans,sans-serif;
    font-size: 22px;
    color: #31117D;
    /*text-align: left;    */
}

nav#navMenu {
    text-align: left;
}

p.regular {
    color:gray;
    font-size: 20px;
}
p.tiny {
    margin-left: 20%;
    color:gray;
    font-weight: bold;
    font-size: 20px;
}

circle {
    fill: lightgray;
    /*stroke: #322F41;*/
    stroke-width: 5;
    box-shadow: 10px 10px 10px #888888;

}
text {
    font-family: "Open Sans",open-sans,sans-serif;
    fill: #31117D;
    font-size: 30px;
}

.container {
    display: flex;
}
/*.left {
    flex: -5 0 65%;
}
.right {
    flex: 1;
    align-items: left;
}*/

option {
    font-size: 30px;
    font-family: "Open Sans",open-sans,sans-serif;
}

.page-overview.text-left {
    font-family: inherit;
    color: inherit;
    font-size: 24px;
}



select {
    width: 55%;
    margin-left: 24%;
    padding: 16px 25px;
    border-style: none none solid none;
    border-radius: 4px;
    font-size: 20px;
    color: #31117D;    
    font-family: "Open Sans",open-sans,sans-serif;

}

button {
    border-radius: 5px;
    background-color: #31117D; /* Green */
    border: thin;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}