body * {
    color: #5B34B6;
}

.inputLabel {
    font-size: 24px !important;
}

input {
    border-style: none none solid none !important;
    text-align: center;
}

#comfortable {
    margin-left: 0px;
    border-style: none none solid none !important;
}

.customizedSelect {
    border-style: none none solid none;
    font-size: 22px;
}

.pageTwo {
    font-size: 27px;
}
.pageTwo.tiny {    
    color: #3B4A63;	
    font-family: "San Francisco Text";	
    font-size: 23px !important;
    font-weight: 600;	
    line-height: 35px;
    text-align: center;
}

/* For extra small and medium sized devices */
@media (max-width: 767px) { 

     .pageOne {
        font-size: 22px !important;
        margin-left: 0%;
        font-size: 22px;
    }

    .input-group {
        margin-bottom: 20px;
    }

    button#next {
        margin-left: 50% !important;
        width: 40%;
        bottom: 5px;
        position: fixed;
        z-index:1000; 
    }
}

/* For medium devices and larger */
@media (min-width: 767px) { 
    
    #ageField {
        font-size: 24px;
        padding-right: 0px;
        margin-right: 0px;
    }

    .pageOne {
        font-size: 30px !important;    
        font-size: 22px;
        margin: auto;
    }

     button#next {
        margin-left: 40%;
        width: 20%;
        bottom: 5%; 
        position: fixed;
        z-index:1000; 
        font-size: 30px;
    }
}

.router {
    margin-top: 150px;
}

.customNav {
    border-bottom-style: solid;
    border-bottom-color: grey;
    position: fixed;
    margin-bottom: 80px;
    width: 100%;
    background-color: #FFFFFF !important;
    box-shadow: 0 2px 3px 0 rgba(141,141,141,0.5);
}

.footer {
    display: none;
}

.bar {
    padding: 0px;
}

.check {
    background-image: url("./images/ic_check_circle_white_48px.svg");
}

nav img {
    border-radius: 50%;
    background-color: rgba(65,73,90,0.1); 
    margin-left: 2px;
    margin-right: 2px;
    width: 55px;
    height: 55px;
}

nav#app {
    position: absolute;
}

h2 {
  font-size: 14px;
  color: lightgray;
}

div.overview { 
    font-family: "Open Sans",open-sans,sans-serif;
}

p {
    display: inline;
    font-family: "Open Sans",open-sans,sans-serif;
    font-size: 22px;
}

nav#navMenu {
    text-align: left;
}
label {
    display: inline;
}
p.regular {
    color:#3B4A63;
    font-size: 20px;
}
p.tiny {
    color:#3B4A63;
    font-weight: bold;
}

circle {
    fill: lightgray;
    stroke-width: 5;
    box-shadow: 10px 10px 10px #888888;

}
text {
    font-family: "Open Sans",open-sans,sans-serif;
    fill: #31117D;
    font-size: 30px;
}

.container {
    display: flex;
}

option {
    font-size: 30px;
    font-family: "Open Sans",open-sans,sans-serif;
}

.page-overview.text-left {
    font-family: inherit;
    color: inherit;
    font-size: 24px;
}


select {
    border-style: none none solid none;
    word-break: break-word;
    white-space: nowrap;

}

button {
    border-radius: 5px;
    background-color: #31117D; 
    border: thin;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
}